{% extends "auctions/layout.html"%}
{% load static %}

{% block title %}Remove Watchlist{% endblock %}

{% block body %}
<div style="text-align: center;">
   <h2>Are you sure you wanna remove this item?</h2>
             <p class="title"> {{listing.title}}</p>
            </p><img src="{{listing.image_url}}"></p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit">Yes, remove</button>
                
            </form>
   <br>
   <a href="{% url 'watchlist' %}">Cancel</a>
</div>
{% endblock %}